<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Dear ' + ${patient.getFirstName()} + ' ' + ${patient.getLastName()} + ','"></p>
<p>Please find below the information of your vaccine certificate.</p>
<p>
    <span th:text="'Vaccine Certificate:'"></span>
    <br/><br />
    <span th:text="'Branch Name: ' + ${patientVaccineAppointment.getBranch().getName()}"></span>
    <br />
    <span th:text="'Vaccine Name: ' + ${patientVaccineAppointment.getVaccine().getName()}"></span>
    <br />
    <span th:text="'Taken On: ' + ${patientVaccineAppointment.getVaccinationDateTime()}"></span>
    <br />
    <br />
    <span>Thank you for trusting our services.</span>
</p>
<p>
    <span>Regards,</span>
    <br/>
    <em>Vaccnow Team.</em>
</p>
</body>
</html>
