<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Dear ' + ${patient.getFirstName()} + ' ' + ${patient.getLastName()} + ','"></p>
<p>
    <span th:text="'Your vaccination appointment has been confirmed:'"></span>
    <br/><br />
    <span th:text="'Branch Name: ' + ${patientVaccineAppointment.getBranch().getName()}"></span>
    <br />
    <span th:text="'Vaccine Name: ' + ${patientVaccineAppointment.getVaccine().getName()}"></span>
    <br />
    <span th:text="'Appointment Schedule: ' + ${patientVaccineAppointment.getVaccinationDateTime()}"></span>
    <br />
    <span th:text="'Payment Method: ' + ${patientVaccineAppointment.getPaymentMethod()}"></span>
    <br />
    <span th:text="'Paid Amount: ' + ${patientVaccineAppointment.getAmountPaid()} + ' EGP'"></span>
    <br />
    <span th:if="${#strings.equals(patientVaccineAppointment.getPaymentMethod(), 'FAWRY')}" th:text="'Fawry Transaction Id: ' + ${patientVaccineAppointment.getFawryTransactionId()}"></span>
    <br th:if="${#strings.equals(patientVaccineAppointment.getPaymentMethod(), 'FAWRY')}" />
    <span th:if="${#strings.equals(patientVaccineAppointment.getPaymentMethod(), 'CREDIT')}" th:text="'Payment Card Used: ' + 'XXXX XXXX XXXX ' + ${patientVaccineAppointment.getCreditCardLast4Digits()}"></span>
    <br th:if="${#strings.equals(patientVaccineAppointment.getPaymentMethod(), 'CREDIT')}"/>
    <br />
    <span>Thank you for trusting our services.</span>
</p>
<p>
    <span>Regards,</span>
    <br/>
    <em>Vaccnow Team.</em>
</p>
</body>
</html>
